<!DOCTYPE html>
<html>
<head>
  <% include ./parts/head.ejs %>
</head>
<body>
  <% include ./parts/header.ejs %>

  <main>
    <div class="container-fluid">
      <div class="row">
<div class="col-sm-2"></div>
<div class="col-sm-8">
      <div class="panel panel-primary" style="margin-left: 10%; margin-right: 10%">
      <div class="panel-heading">
<h2 >Your Orders</h2><br></div></div><br><hr><br>
      <% if(orders == ""){ %>
        <div class="panel panel-primary">
          <div class="panel-body">
            <p>Sorry!....   You Have Not Placed Any Orders Yet.</p>
          </div>
        </div>
      <% } else{ %>
        <% for(i=0; i<length; i++){ %>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3>Order : <%= (i+1) %></h3>
            </div>
            <div class="panel-body">
              <h4 class="tProd">Product Details</h4><br><hr>
              <table class="table table-bordered table-striped table-hover table-condensed table-responsive">
                <thead>
                  <tr>
                    <td><b>Product Name</b></td>
                    <td><b>Price</b></td>
                    <td><b>Quantity</b></td>
                  </tr>
                </thead>
                <tbody>
                  <% for(j=0; j<orders[i].uniqueProducts; j++){ %>
                    <tr>
                      <td><%= orders[i].productName[j] %></td>
                      <td><%= orders[i].productPrice[j] %></td>
                      <td><%= orders[i].productQty[j] %></td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
            <div class="panel-body" >
              <p class="tProd"><span class="tProd">Order Date : <%= orders[i].orderDate %></span></br>
            <span class="tProd">  Total Items : <%= orders[i].quantity %></span></br>
              <span class="tProd">Total Price : <%= orders[i].price %></span></p>
              <% if(orders[i].deliveryStatus == 1){ %>
                <br>
                <p class="tProd">Delivery Status : <b>Pending</b></p>
              <% }else{ %>
                <p class="tProd">Delivery Status : <b>delivered</b></p>
              <% } %>
            </div>
            <hr>
          </div>
        <% } %>
      <% } %>
    </div>
    </div>
    <div class="col-sm-2"></div>

  </div>

  </main>

  <% include ./parts/footer.ejs %>
</body>
</html>
