<!DOCTYPE html>
<html>
<head>
  <% include ./parts/head.ejs %>
</head>
<body>
  <% include ./parts/header.ejs %>

  <main>
    <% include ./parts/topbar.ejs %>

    <div class="product-details-box">
      <span><h3>Edit Product Details</h3></span><br>
      <form class="product-form" action="/admin/api/v1/product/edit/<%= product._id %>" method="post">
        <input type="hidden" name="_method" value="put">
        <div class="input-block">
          <p>Product Name:</p>
          <input class="input-box" type="text" name="productName" value="<%= product.productName %>" autofocus/>
        </div>
        <div class="input-block">
          <p>Category:</p>
          <input class="input-box" type="text" name="category" value="<%= product.category %>"/>
        </div>
        <div class="input-block">
          <p>Price:</p>
          <input class="input-box" type="number" name="price" value="<%= product.price %>"/>
        </div>
        <div class="input-block">
          <p>Description:</p>
          <textarea class="input-box" name="description" rows="2" cols="80"><%= product.description %></textarea>
        </div>
        <div class="input-block">
          <p>Quantity:</p>
          <input class="input-box" type="number" name="quantity" value="<%= product.quantity %>"/>
        </div>
        <div class="input-block">
          <p>Color:</p>
          <input class="input-box" type="color" name="color" value="<%= product.color %>"/>
        </div>
        <div class="input-block">
          <p>Model:</p>
          <input class="input-box" type="text" name="model" value="<%= product.model %>"/>
        </div>
        <div class="input-block">
          <p>Brand Name:</p>
          <input class="input-box" type="text" name="brandName" value="<%= product.brandName %>"/>
        </div>
        <div class="input-block">
          <p>Size:</p>
          <input class="input-box" type="text" name="size" value="<%= product.size %>"/>
        </div><br>
        <button class="btn btn-primary btn-block" type="submit" name="submit">Submit</button><br>
      </form>
    </div>

  </main>

  <% include ./parts/footer.ejs %>
</body>
</html>
